{% extends 'sidebar.html' %}

{% block header %}  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vendas total</title>
  <link rel="shortcut icon" type="image/png" href= "{{ url_for('static', filename='/images/logos/ico.ico') }}" />
  <link rel="stylesheet" href= "{{ url_for('static', filename='/css//styles.min.css') }}" />
{% endblock %}
{% block content %}
  <!--  Body Wrapper -->
            <h1 class="text-center">PROPOSTAS </h1>     
            <br>
            {% for proposta in propostas %}
            <div class="alert alert-success" role="alert"><a href="{{ url_for('views.teste', id=proposta.cliente.id, cpf=proposta.cliente.cpf) }}">{{proposta.cliente.cpf}}</a> - {{proposta.cliente.nome}}
                - {{ proposta.produto.nome }} - R${{proposta.total}}
                <i class="ti ti-cloud-download"></i> </div>
             {% endfor %}
            <div class="alert alert-danger" role="alert"> { Plataforma } {N* de matricula } {CPF}  {nome} <i class="ti ti-cloud-download"></i> </div>
            <div class="alert alert-success" role="alert"> { Plataforma } {N* de matricula } {CPF}  {nome} <i class="ti ti-cloud-download"></i> </div> 
            <div class="alert alert-danger" role="alert"> { Plataforma } {N* de matricula } {CPF}  {nome} <i class="ti ti-cloud-download"></i> </div> 
            <div class="alert alert-success" role="alert"> { Plataforma } {N* de matricula } {CPF}  {nome} <i class="ti ti-cloud-download"></i> </div> 
            <div class="alert alert-danger" role="alert"> { Plataforma } {N* de matricula } {CPF}  {nome} <i class="ti ti-cloud-download"></i> </div> 
      <!--  Content Ends -->
    <!--  End Main wrapper -->
  <!--  End Body Wrapper -->
  <script src=" {{ url_for('static', filename='libs/jquery/dist/jquery.min.js') }}" ></script>
  <script src= "{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}" ></script>
  <script src= "{{ url_for('static', filename='js/sidebarmenu.js') }}" ></script>
  <script src= "{{ url_for('static', filename='js/app.min.js') }}" ></script>
  <script src= "{{ url_for('static', filename='libs/apexcharts/dist/apexcharts.min.js') }}" ></script>
  <script src=" {{ url_for('static', filename='libs/simplebar/dist/simplebar.js') }}" ></script>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
  </script>
{% endblock %}
