{% extends 'sidebar.html' %}

{% block header %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cadastro</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='/images/logos/ico.ico') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/sidebar.css') }}">
  <style>
    .dark-mode .card-body {
      background-color: black;
      color: #fff;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js">
</script>
  <script type="text/python" src="{{url_for('static', filename='scripts/vendas.py')}}">
  </script>
{% endblock %}
{% block content %}
            <form id="formProposta" class="needs-validation" novalidate>
              <div class="clientes">
                <h3 style="text-align: center;">Cliente</h3>
                <br>
                <div class="row">
                  <div class="col-md-20">
                    <div class="form-group">
                      {{ form.cpf(class="entrada form-control text-center", placeholder=form.cpf.label.text, required=True) }}
                      <span id="cpf-error" class="error-message"></span><br>
                    </div>
                  </div>
                  <h3 style="text-align: center;">Contrato</h3>  
                  <div class="col-md-6">
                    <div class="form-group checkboxes-container">
                      <div>
                        <input type="checkbox" id="FIP" name="FIP">
                        <label for="FIP">FIP</label>
                      </div>
                      <div>
                        <input type="checkbox" id="FIM" name="FIM">
                        <label for="FIM">FIM</label>
                      </div>
                      <div>
                        <input type="checkbox" id="FIS" name="FIS">
                        <label for="FIS">FIS</label>
                      </div>
                      <div>
                        <input type="checkbox" id="FIE" name="FIE">
                        <label for="FIE">FIE</label>
                      </div>
                      <div>
                        <input type="checkbox" id="FIV" name="FIV">
                        <label for="FIV">FIV</label>
                      </div>
                      <div>
                        <input type="checkbox" id="PAM" name="PAM">
                        <label for="PAM">PAM</label>
                      </div>
                      <div>
                        <input type="checkbox" id="PAE" name="PAE">
                        <label for="PAE">PAE</label>
                      </div>
                      <div>
                        <input type="checkbox" id="PIEDU" name="PIEDU">
                        <label for="PIEDU">PIEDU</label>
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="" style="text-align: center;">
                  <div id="divBotao" style="display: flex; justify-content: space-evenly">
                    <button class="btn btn-primary" id="Enviar" type="submit">Cadastrar Cliente</button>
                  </div>
                </div>
              </div>
            </form>
<script>
  var telefoneCount = 1;

  function adicionarTelefone() {
    var telefonesAdicionais = document.getElementById("telefones-adicionais");

    var divTelefone = document.createElement("div");
    divTelefone.className = "form-group";
    var inputTelefone = document.createElement("input");
    inputTelefone.className = "entrada form-control text-center";
    inputTelefone.type = "text";
    inputTelefone.name = "telefone";
    inputTelefone.placeholder = "Digite o telefone";
    inputTelefone.required = true;

    divTelefone.appendChild(inputTelefone);
    telefonesAdicionais.appendChild(divTelefone);

    telefoneCount++;
  }
</script> 
<script>
function mostrarEndereco() {
    const divClientes = document.querySelector('.clientes');
    const divEndereco = document.querySelector('.endereco');

    divClientes.style.display = 'none';
    divEndereco.style.display = 'block';
  }

  function mostrarProposta() {
    const divEndereco = document.querySelector('.endereco');
    const divProposta = document.querySelector('.proposta1');

    divEndereco.style.display = 'none';
    divProposta.style.display = 'block';
  }

  function voltarCliente() {
    const divClientes = document.querySelector('.clientes');
    const divEndereco = document.querySelector('.endereco');

    divClientes.style.display = 'block';
    divEndereco.style.display = 'none';
  }

  function voltarEndereco() {
    const divProposta = document.querySelector('.proposta1');
    const divEndereco = document.querySelector('.endereco');

    divProposta.style.display = 'none';
    divEndereco.style.display = 'block';
  }
</script>
<script>
  // Função para validar o número de telefone
  function validarTelefone() {
    var telefoneInput = document.getElementById("telefone");
    var telefone = telefoneInput.value;

    // Expressão regular para validar o número de telefone
    var regexTelefone = /^\(\d{2}\)\s\d{4,5}\-\d{4}$/;

    if (!regexTelefone.test(telefone)) {
      // Exibe a mensagem de erro
      document.getElementById("telefone-error").textContent = "Número de telefone inválido";
      telefoneInput.setCustomValidity("Número de telefone inválido");
    } else {
      // Remove a mensagem de erro
      document.getElementById("telefone-error").textContent = "";
      telefoneInput.setCustomValidity("");
    }
  }

  // Evento de envio do formulário
  var form = document.getElementById("formulario");
  form.addEventListener("submit", function(event) {
    // Valida o número de telefone antes de enviar o formulário
    validarTelefone();
  
      if (!form.checkValidity()) {
        event.preventDefault(); // Impede o envio do formulário se houver campos inválidos
        event.stopPropagation();
      }
  
      form.classList.add("was-validated");
    });
  </script>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
    const darkModeToggle = document.getElementById('dark-mode-toggle');
    const logoLight = document.getElementById('logo-light');
    const logoDark = document.getElementById('logo-dark');

    darkModeToggle.addEventListener('click', () => {
      const body = document.body;
      body.classList.toggle('dark-mode');
      if (body.classList.contains('dark-mode')) {
        darkModeToggle.textContent = 'Ativar Light Mode';
        logoLight.style.display = 'none';
        logoDark.style.display = 'block';
      } else {
        darkModeToggle.textContent = 'Ativar Dark Mode';
        logoLight.style.display = 'block';
        logoDark.style.display = 'none';
      }
    });

    const sidebarDegradeToggle = document.getElementById('sidebar-degrade-toggle');
    const leftSidebar = document.querySelector('.left-sidebar');

    sidebarDegradeToggle.addEventListener('click', () => {
      leftSidebar.classList.toggle('sidebar-degrade');

      if (leftSidebar.classList.contains('sidebar-degrade')) {
        sidebarDegradeToggle.textContent = 'Ativar Degradê';
      } else {
        sidebarDegradeToggle.textContent = 'Tirar Degradê';
      }
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script>
    /*
     * Para efeito de demonstração, o JavaScript foi
     * incorporado no arquivo HTML.
     * O ideal é que você faça em um arquivo ".js" separado. Para mais informações
     * visite o endereço https://developer.yahoo.com/performance/rules.html#external
     */

    // Registra o evento blur do campo "cep", ou seja, a pesquisa será feita
    // quando o usuário sair do campo "cep"
    $("#cep").blur(function(){
      // Remove tudo o que não é número para fazer a pesquisa
      var cep = this.value.replace(/[^0-9]/, "");

      // Validação do CEP; caso o CEP não possua 8 números, então cancela
      // a consulta
      if(cep.length != 8){
        return false;
      }

      // A url de pesquisa consiste no endereço do webservice + o cep que
      // o usuário informou + o tipo de retorno desejado (entre "json",
      // "jsonp", "xml", "piped" ou "querty")
      var url = "https://viacep.com.br/ws/"+cep+"/json/";

      // Faz a pesquisa do CEP, tratando o retorno com try/catch para que
      // caso ocorra algum erro (o cep pode não existir, por exemplo) a
      // usabilidade não seja afetada, assim o usuário pode continuar//
      // preenchendo os campos normalmente
      $.getJSON(url, function(dadosRetorno){
        try{
          // Preenche os campos de acordo com o retorno da pesquisa
          $("#endereco").val(dadosRetorno.logradouro);
          $("#bairro").val(dadosRetorno.bairro);
          $("#cidade").val(dadosRetorno.localidade);
          $("#uf").val(dadosRetorno.uf);
        }catch(ex){}
      });
    });

        function validarCPF(cpf) {
      // Remove caracteres não numéricos
      cpf = cpf.replace(/\D/g, '');

      // Verifica se o CPF possui 11 dígitos
      if (cpf.length !== 11) {
        return false;
      }

      // Verifica se todos os dígitos são iguais
      if (/^(\d)\1+$/.test(cpf)) {
        return false;
      }

      // Validação dos dígitos verificadores
      var soma = 0;
      var resto;

      for (var i = 1; i <= 9; i++) {
        soma += parseInt(cpf.charAt(i - 1)) * (11 - i);
      }

      resto = (soma * 10) % 11;

      if (resto === 10 || resto === 11) {
        resto = 0;
      }

      if (resto !== parseInt(cpf.charAt(9))) {
        return false;
      }

      soma = 0;

      for (var i = 1; i <= 10; i++) {
        soma += parseInt(cpf.charAt(i - 1)) * (12 - i);
      }

      resto = (soma * 10) % 11;

      if (resto === 10 || resto === 11) {
        resto = 0;
      }

      if (resto !== parseInt(cpf.charAt(10))) {
        return false;
      }

      return true;
    }

    // Exemplo de uso:
    var cpf = "123.456.789-09";
    var valido = validarCPF(cpf);

    if (valido) {
      console.log("CPF válido.");
    } else {
      console.log("CPF inválido.");
    }
  </script>
  <script>
    function validarCPF(cpf) {
      cpf = cpf.replace(/[^\d]+/g, '');
  
      if (cpf == '') return false;
  
      if (
        cpf.length != 11 ||
        cpf == '00000000000' ||
        cpf == '11111111111' ||
        cpf == '22222222222' ||
        cpf == '33333333333' ||
        cpf == '44444444444' ||
        cpf == '55555555555' ||
        cpf == '66666666666' ||
        cpf == '77777777777' ||
        cpf == '88888888888' ||
        cpf == '99999999999'
      ) {
        return false;
      }
  
      let soma = 0;
      for (let i = 0; i < 9; i++) {
        soma += parseInt(cpf.charAt(i)) * (10 - i);
      }
  
      let resto = 11 - (soma % 11);
      if (resto == 10 || resto == 11) resto = 0;
  
      if (resto != parseInt(cpf.charAt(9))) return false;
  
      soma = 0;
      for (let i = 0; i < 10; i++) {
        soma += parseInt(cpf.charAt(i)) * (11 - i);
      }
  
      resto = 11 - (soma % 11);
      if (resto == 10 || resto == 11) resto = 0;
  
      if (resto != parseInt(cpf.charAt(10))) return false;
  
      return true;
    }
  
    function exibirErro(mensagem) {
    let cpfError = document.getElementById('cpf-error');
    cpfError.textContent = mensagem;
  }

  function limparErro() {
    let cpfError = document.getElementById('cpf-error');
    cpfError.textContent = '';
  }

  function validarFormulario(event) {
    event.preventDefault();

    let cpfInput = document.getElementById('cpf');
    let cpf = cpfInput.value;

    limparErro();

    if (validarCPF(cpf)) {
      document.getElementById('formulario').submit();
    } else {
      exibirErro('CPF inválido. Por favor, insira um CPF válido.');
      cpfInput.classList.add('error');
      cpfInput.focus();
    }
  }
  document.getElementById('formulario').addEventListener('submit', validarFormulario);
  // Obtenha o elemento de entrada de texto para a proposta
  var valorPropostaInput = document.getElementById('valor-proposta');

  // Adicione um ouvinte de evento de input para o elemento de entrada de texto
  valorPropostaInput.addEventListener('input', function() {
    // Obtenha o valor atual da proposta
    var valor = this.value;

    // Verifique se o valor começa com "R$"
    if (!valor.startsWith('R$')) {
      // Adicione o prefixo "R$" ao valor da proposta
      this.value = 'R$' + valor;
    }
  });
  // Obter referência ao elemento select
    const selectElement = document.getElementById("my-select");

    // Função para alternar entre os modos claro e escuro
    function toggleDarkMode() {
      const body = document.body;
      body.classList.toggle("dark-mode");
      
      // Verificar se o modo atual é escuro
      const isDarkMode = body.classList.contains("dark-mode");
      
      // Atualizar as opções do select com base no modo atual
      const options = selectElement.getElementsByTagName("option");
      for (let i = 0; i < options.length; i++) {
        const option = options[i];
        option.style.color = isDarkMode ? "white" : "black";
      }
    }

    // Adicionar um evento de clique ao elemento select para alternar o modo
    selectElement.addEventListener("click", toggleDarkMode);
</script>
<script src="{{url_for('static', filename='/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
{% endblock %}