<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cadastro</title>
  <link rel="shortcut icon" type="image/png" href= "{{ url_for('static', filename='/images/logos/ico.ico') }}" />
  <link rel="stylesheet" href= "{{ url_for('static', filename='/css//styles.min.css') }}" />
  <link rel="style" href= "{{ url_for('static', filename='/css/styles.min.css') }}" >
</head>
<body>
  <!--  Body Wrapper -->
{% include 'sidebar.html' %}    
<!--  Main wrapper -->
      <!--  Header End -->
      <!--  Content Starts -->
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-3">
              <div class="card mb-0" style="display: flex;">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img type="img" src="{{ url_for('static', filename='/images/logos/logohd.png') }}" style="width: 60%;">
                </a>
                <p class="text-center">Abençoado seja o usuário</p>
                  {% from "_form_errors.html" import render_error %}
                <form action="{{ url_for('auth.registrar') }}" method="POST" novalidate>
                  {{ form.hidden_tag() }}
                  <div class="mb-3">
                    {{ form.nome.label(class='form-label') }}
                    {{ form.nome(class='form-control', required=False) }}
                    {{ render_error(form.nome) }}
                  </div>
                  <div class="mb-3">
                    {{ form.email.label(class='form-label') }}
                    {{ form.email(class='form-control', required=False) }}
                    {{ render_error(form.email) }}
                  </div>
                  <div class="mb-4">
                    {{ form.senha.label(class='form-label') }}
                    {{ form.senha(class='form-control', required=False) }}
                    {{ render_error(form.senha) }}

                  </div>
                  <div class="mb-4">
                    {{ form.confirmar_senha.label(class='form-label') }}
                    {{ form.confirmar_senha(class='form-control', required=False) }}
                    {{ render_error(form.confirmar_senha) }}

                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Criar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
      <!--  Content Ends -->
    </div>
    <!--  End Main wrapper -->
  </div>
  <!--  End Body Wrapper -->
  <script src= "{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}" ></script>
  <script src= "{{ url_for('static', filename='js/sidebarmenu.js') }}" ></script>
  <script src= "{{ url_for('static', filename='libs/apexcharts/dist/apexcharts.min.js') }}" ></script>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
  </script>
</body>
</html>
