{% extends 'sidebar.html' %}

{% block header %}  
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inicio</title>
  <link rel="shortcut icon" type="image/png" href= "{{ url_for('static', filename='/images/logos/ico.ico') }}" />
{% endblock %}
{% block content %}
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-12">
                <div class="centered">
                  <h1>Bem vindo, {{ current_user.nome.split()[0] }}</h1>
                </div>
              </div>
            </div>
          </div>
  <script src= "{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  <script src= "{{ url_for('static', filename='libs/apexcharts/dist/apexcharts.min.js') }}" ></script>  
{% endblock %}