<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inicio</title>
  <link rel="shortcut icon" type="image/png" href= "{{ url_for('static', filename='/images/logos/ico.ico') }}" />
</head>

<body>
{% include 'sidebar.html' %}
   <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
          </ul>
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-12">
                <div class="centered">
                  <h1>Bem vindo, {{ current_user.nome.split()[0] }}</h1>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
    </div>
  </div>
  <script src= "{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  <script src= "{{ url_for('static', filename='libs/apexcharts/dist/apexcharts.min.js') }}" ></script>  
</body>

</html>
