<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="shortcut icon" type="image/png" href= {{ url_for('static', filename="/images/logos/ico.ico") }} />
  <link rel="stylesheet" href= {{ url_for('static', filename="/css//styles.min.css") }} />
  <link rel="style" href= {{ url_for('static', filename="/css/styles.min.css") }} >
  <script type="text/python" src="{{url_for('static', filename='scripts/login.py')}}">
  </script>

<script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js">
</script>
  <style>
    .body
  {
  background-image: url('../assets/images/backgrounds/bg-luiz.png'); /* Substitua o caminho da imagem pela desejada */
  background-size: cover; /* Ajusta o tamanho da imagem ao fundo */
  }
  </style>
</head>

<body onload="brython()">
  <!--  Body Wrapper -->
  
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src= {{ url_for('static', filename="images/logos/logohd_-_Copia_ZUADO_1-removebg.png") }} width="180" alt="" id="logo-dark" style="display: none;" />                  width="180" alt="">
                </a>
                <p class="text-center">Que seu dia seja abençoado</p>
                <form action="{{ url_for('auth.login_post') }}" method="POST">
                        {{ form.hidden_tag() }}
                  <div class="mb-3">
                    {{ form.usuario.label(class='form-label') }}
                    {{ form.usuario(class='form-control') }}
                  </div>
                  <div class="mb-4">
                    {{ form.senha.label(class='form-label') }}
                    {{ form.senha(class='form-control') }}
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                      {{ form.lembrar(class='form-check-input primary', checked=True) }}
                      {{ form.lembrar.label(class="form-check-label text-dark") }}
                    </div>
                    <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
                  </div>
                  </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src= {{ url_for('static', filename="js/vendor.min.js") }} ></script>
  <script src= {{ url_for('static', filename="js/app.min.js") }} ></script>
  <script src= {{ url_for('static', filename="libs/jquery/dist/jquery.min.js") }} ></script>
  <script src= {{ url_for('static', filename="libs/bootstrap/dist/js/bootstrap.bundle.min.js") }} ></script>
  <script src= {{ url_for('static', filename="js/sidebarmenu.js") }} ></script>
  <script src= {{ url_for('static', filename="js/app.min.js") }} ></script>
  <script src= {{ url_for('static', filename="libs/apexcharts/dist/apexcharts.min.js") }} ></script>
  <script src= {{ url_for('static', filename="libs/simplebar/dist/simplebar.js") }} ></script>
</body>

</html>