<!doctype html>
<html lang="en">


<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
<link rel="stylesheet" href= "{{ url_for('static', filename='/css/styles.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='/css/sidebar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='/libs/simplebar/dist/simplebar.css') }}">
<script src="{{url_for('static', filename='libs/simplebar/dist/simplebar.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js">
</script>

{%block header%}
{% endblock %}
</head>

<body onload="brython()">

    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <img src="{{ url_for('static', filename='images/logos/logohd_-_Copia_ZUADO_1-removebg.png') }}"  width="180" alt="" id="logo-light" />
            <img src="{{ url_for('static', filename='images/logos/logohd_-_Copia_ZUADO_1-removebg.png') }}" width="180" alt="" id="logo-dark" style="display: none;" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu" style="color: #fff;">Estilo</span>
            </li>
            <li class="">
              <a class="sidebar-link">
                <button id="dark-mode-toggle" class="btn btn-outline-light">Ativar Modo escuro</button>
              </a>
            </li>
            <li>
              <a class="sidebar-link">
                <button id="sidebar-degrade-toggle" class="btn btn-outline-light"> Tirar Degradê</button>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu" style="color: #fff;">Home</span>
            </li>
            <li class="sidebar-item">
              <button class="sidebar-link" href="#" aria-expanded="false" style="background-color: transparent; border-color: transparent; color: white; ">
                <span class="ti ti-search"></span>
                <span class="hide-menu" >Pesquise</span>
              </button>
              <div id="searchInputContainer" style="display: none;">
                <form action="{{ url_for('views.pesquisar_post') }}" method="POST">
                  <input style="background-color: transparent; border-color: transparent; color: white; " name="cpf" type="text" id="searchInput" class="white-placeholder" placeholder="Digite sua pesquisa...">
                </form>
              </div>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{{url_for('views.index')}}" aria-expanded="false" style="background-color: transparent">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu" >Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{{url_for('views.vender')}}" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Cadastro</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{{url_for('views.propostas')}}" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>                
                </span>
                <span class="hide-menu">Propostas</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu" style="color: #fff;">FINANCEIRO</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./financeiro.html" aria-expanded="false">
                <span>
                  <i class="ti ti-brand-mastercard"></i>               
                </span>
                <span class="hide-menu">Plataformas</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu" style="color: #fff;">Graficos</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./TESTE.html" aria-expanded="false">
                <span>
                  <i class="ti ti-brand-mastercard"></i>               
                </span>
                <span class="hide-menu">Grafana</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu" style="color: #fff;">AUTH</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{{url_for('auth.logout')}}" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">logout</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{{url_for('auth.registrar')}}" aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">Registrar</span>
              </a>
            </li>

          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>


    <div class="body-wrapper">
      <!--  Header Start -->
      <!--  Header End -->
      <!--  Content Starts -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                {% block content %}
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <script src="{{ url_for('static', filename='js/app.min.js') }}" ></script>


    <script type="text/javascript">
const searchIcon = document.querySelector('.ti-search');
const searchInputContainer = document.getElementById('searchInputContainer');
const searchInput = document.getElementById('searchInput');

// Adiciona um ouvinte de evento ao ícone da lupa para alternar entre a exibição da lupa e do campo de entrada
searchIcon.addEventListener('click', function() {
  searchIcon.style.display = 'none';
  searchInputContainer.style.display = 'block';
  searchInput.focus();
});

// Adiciona um ouvinte de evento ao documento inteiro para verificar cliques fora do campo de entrada
document.addEventListener('click', function(event) {
  // Verifica se o clique ocorreu fora do campo de entrada e do ícone da lupa
  if (event.target !== searchInput && event.target !== searchIcon) {
    searchIcon.style.display = 'block';
    searchInputContainer.style.display = 'none';
  }
});
    
    </script>
    </body>
</html>