.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  body {
    transition: background-color 0.5s ease;
  }

  .dark-mode {
    background-color: black;
    color: #fff;
  }

  .container {
    margin-top: 100px;
    text-align: center;
  }

  .left-sidebar,
  .app-header,
  .page-wrapper {
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .dark-mode .left-sidebar,
  .dark-mode .app-header,
  .dark-mode .page-wrapper {
    background-color: #222;
    color: #fff;
  }

  .left-sidebar {
    transition: background-color 0.5s ease;
    background: linear-gradient(to bottom, #089bfe, #089ff4, #0c2d74, #0b0b18);
  }
  .left-sidebar.sidebar-degrade {
    background: linear-gradient(to bottom, #000, #000);
  }

  /* Adicione outros estilos específicos do modo escuro aqui */
  
      .sidebar-item a {
    color: #fff !important;
  }

  .sidebar-item a:hover {
    color: #aaa !important;
  }

  .sidebar-item .hide-menu {
color: #fff !important;
  }

  .dark-mode .navbar-nav .nav-link {
    color: #fff;
  }
  
  .dark-mode .navbar-nav .nav-link:hover {
    color: #aaa;
  }
  
  /* Adicione esta regra para definir a cor do texto */
  .dark-mode,
  .dark-mode h1,
  .dark-mode p,
  .dark-mode a {
    color: #fff;
  }

  
  /* Estilize os botões */
  .sidebar-link button {
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 14px;
  }
  
  #dark-mode-toggle {
    margin-bottom: 5px;
  }
  
  #sidebar-degrade-toggle {
    margin-top: 5px;
  }
  .btn:active {
    background-color: #ccc;
  }
  .input-wrapper::before {
    content: "R$";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-weight: bold;
  }
  .input-date {
    width: 100%;
  }
  .input-box {
    margin-bottom: 20px;
  }
  .gender-input {
    margin-bottom: 20px;
  }
  .form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .title h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }
  
  

  .login-button button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    padding: 0;
  }
  .input-box label {
    font-size: 14px;
    font-weight: 500;
  }
  .input-box input {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
  }
  .gender-title h6 {
    font-size: 14px;
    font-weight: 500;
  }
  .gender-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
  }
  .gender-input {
    display: flex;
    align-items: center;
    margin-right: 16px;
    font-size: 14px;
  }
  .gender-input input {
    margin-right: 6px;
  }

  .dark-mode select.select-campanha {
    background-color: black;
    color: #fff;
    border-color: #ced4da;
  }

  .dark-mode select.select-campanha option {
    background-color: black;
    color: #fff;
  }

  .dark-mode select.select-campanha:focus {
    outline: none;
    border-color: #089bfe;
  }

  .gender-input label {
    font-size: 14px;
  }
  .continue-button button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
  }
  .continue-button button:hover {
    background-color: #0056b3;
  }
  .payment-platform {
    margin-top: 20px;
  }
  .payment-platform label {
    font-size: 14px;
    font-weight: 500;
  }
  .payment-platform input {
    margin-right: 6px;
  }
  .continue-button button {
background-color: #007bff;
color: #fff;
border: none;
border-radius: 4px;
padding: 8px 16px;
font-size: 14px;
cursor: pointer;
}

.continue-button button:hover {
background-color: #0056b3;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  body {
    transition: background-color 0.5s ease;
  }

  .dark-mode {
    background-color: #000000;
    color: #fff;
  }
  

  .container {
    margin-top: 100px;
    text-align: center;
  }

  .left-sidebar,
  .app-header,
  .page-wrapper {
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  .dark-mode .left-sidebar,
  .dark-mode .app-header,
  .dark-mode .page-wrapper {
    background-color: black;
    color: #fff;
  }

  /* cor da barra lateral */
    
  .left-sidebar {
    transition: background-color 0.5s ease;
    background: linear-gradient(to bottom, black, black, #ffa500, #ffa500);
  }
  .left-sidebar.sidebar-degrade {
    background: linear-gradient(to bottom, #000, #000);
  }

  /* Adicione outros estilos específicos do modo escuro aqui */
  
      .sidebar-item a {
    color: #fff !important;
  }

  .sidebar-item a:hover {
    color: #aaa !important;
  }

  .sidebar-item .hide-menu {
 color: #fff !important;
  }

  .prefixo {


  color: black; /* cor no modo claro */
  }
  
  .prefixo.dark-mode {
    
  
  color: white; /* cor no modo escuro */
  }

  .dark-mode .navbar-nav .nav-link {
    color: #fff;
  }
  
  .dark-mode .navbar-nav .nav-link:hover {
    color: #aaa;
  }
  
  /* Adicione esta regra para definir a cor do texto */
  .dark-mode,
  .dark-mode h1,
  .dark-mode p,
  .dark-mode a,
  .dark-mode h6,
  .dark-mode h5,
  .dark-mode h3,
  .dark-mode p,
  .dark-mode ::placeholder,
  .dark-mode label{
    color: #fff;
  }

  .dark-mode input[type="text"],
  .dark-mode input[type="email"],
  .dark-mode input[type="password"],
  .dark-mode input[type="tel"]
  .dark-mode input[type="date"],
  .dark-mode textarea,
  .dark-mode select {
    color: white;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  textarea,
  select {
    color: black;
  }

  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="password"]::placeholder,
  input[type="tel"]::placeholder,
  textarea::placeholder,
  select::placeholder {
   color: black;
   border-color: black;

  }

  /* Estilos para modo normal */
  select {
    color: black;
    border: 1px solid black;
    background-color: white;
  }

  /* Estilos para modo dark */
  body.dark-mode select {
    color: white;
    border: 1px solid white;
    background-color: black;
  }

  
 /* Estilos para modo dark */
 body.dark-mode .text-muted{
  color: white!important;
  background-color: rgb(0, 0, 0);
}
.checkboxes-container {
  display: flex;
  justify-content: center;
}

.checkboxes-container div {
  margin-right: 20%; /* Optional: Adds some spacing between checkboxes and labels */
}

  body.dark-mode input[type="text"]::placeholder,
  body.dark-mode input[type="email"]::placeholder,
  body.dark-mode input[type="password"]::placeholder,
  body.dark-mode input[type="tel"]::placeholder,
  body.dark-mode textarea::placeholder,
  body.dark-mode select::placeholder {
    color: white;
    border-color: white;

  }

  .dark-mode .card-body {
    background-color: black;
  }
  


  .error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
  
  /* Estilize os botões */
  .sidebar-link button {
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 14px;
  }
  
  #dark-mode-toggle {
    margin-bottom: 5px;
  }
  
  #sidebar-degrade-toggle {
    margin-top: 5px;
  }
  .btn:active {
    background-color: #ccc;
  }

  .input-box input {
    width: 80%; /* Reduzindo a largura dos campos de entrada */
    max-width: 300px; /* Definindo a largura máxima */
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
  }
  .error-message {
  display: block;
  color: red;
  margin-top: 5px;
 }
 .continue-button {
    text-align: center;
  }

  .continue-button button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
  }

  .continue-button button:hover {
    background-color: #0056b3;
  }

  .proposta {
    display: none;
  }
  
  .selecte{
    display:flex;
  }

  .proposta.show {
    display: block;
  }
  
  #divBotao {
display: flex;
justify-content: center;
margin-top: 20px;
}

#btnMostrarProposta {
text-align: center;
}

.white-placeholder::placeholder {
  color: white; /* Defina a cor desejada para o placeholder, neste caso, branco (white) */
}
.text-muted {
  color: black; /* Escolha a cor desejada para o modo claro */
}

/* Estilo para o modo escuro */
.dark-mode .text-muted {
  color: white; /* Escolha a cor desejada para o modo escuro */
}